.header{
  background-color: black;
  height: 70px;
  padding-top: 5px;
}
.header> h1{
  color:white;
  margin-left: 30px;
}
.footer{
  background-color: black;
  padding: 5px 0px; 
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer >center> p{
  color: white;
}

/* List */
.List{
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 150px;
  border-radius: 15px;
}
@media only screen and (min-width: 1000px){
  .List{
    width: 70%;
  }
  .list_of_activities{
    width:90%;
  }
}
@media only screen and (min-width: 2000px){
  .List{
    width: 50%;
  }
  .list_of_activities{
    width:90%;
  }
}
@media only screen and (max-width: 999px){
  .List{
    width: 80%;
  }
  .list_of_activities{
    width:90%;
  }
}
.add_button{
  border: none;
  padding: 5px 10px;
  background-color: black;
  color: white;
}
.add_button:hover{
  cursor: pointer;

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

}
.modal-main {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.add_button{
  border: none;
  background-color: #01A4C4;
  padding: 5px 15px;
}
.add_button:hover{
  background-color: #19D1E3;
}
.modalContent{
  width: 100%;
  position: relative;
}
.list_of_activities{
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
}
.item{
  width: 100%;
}
.item> td{
  padding: 20px;
}
.itemDate{
  padding: 10px 15px;
  width: 20%;
  border-right: 1px solid #006C93;
  margin: 0 auto;
}
.itemTime{
  padding: 10px 15px;
  width: 20%;
  border-right: 1px solid #006C93;
}
.itemDesc{
  padding: 10px;
  width: 70%;
}
.missingTop{
  border: 1px solid black
}
.delete_button{
  border: 0;
  background-color: #666666;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}
.delete_button:hover{
  cursor: pointer;
  background-color: #CC1901;
}
.edit_button{
  border: 0;
  background-color: #01A4C4;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}
.edit_button:hover{
  cursor: pointer;
  background-color: #19D1E3;
}
